<!doctype html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
<link rel="stylesheet" href="/css/detail.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
crossorigin="anonymous"></script>


<title>항해 99 블로그 상세내용</title>



</head>

<body>

        <div class="nav">
                
        </div>
        <div class="write_form">
            <form class="box">
                <div class="field">
                <label class="label">TITLE</label>
                <div class="control">
                    <%= board.title %>
                </div>
                </div>

                <div class="field">
                    <label class="label">CONTENT</label>
                    <div class="control">
                        <%=board.content%>
                    </div>
                </div>

                <div class="field">
                    <label class="label">USER NAME</label>
                    <div class="control">
                        <%=board.userName%>
                    </div>
                </div>
                <button type="button" class="btn btn-warning" onclick="location.href='/board/write/<%=board.boardId%>'" >수정하기</button>
                
            </form>
        </div>
     
    </div>
</body>

</html>


